<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>BabyDent</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<link rel="shortcut icon" href="favicon.ico">
		<!--<link href='http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,500italic,700,400italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
		--><link href="style/common.css" rel="stylesheet" type="text/css" />
		<link href="style/slick.css" rel="stylesheet" type="text/css" />
		<link href="style/style.css" rel="stylesheet" type="text/css" />
		<!--[if lt IE 9]> 
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> 
		<![endif]-->
		<script src="js/jquery-1.9.0.min.js"></script>
		<script src="js/slick.js"></script>
		<script src="js/script.js"></script>
	</head>
	<body class="main_page">
		<div id="main">
			<header>
				<div class="center clearfix">
					<div class="header_bl_form">
						<div class="header_bl_form_but">Записаться на прием</div>
						<div class="header_bl_form_container">
							<span class="header_form_close"></span>
							<div class="header_bl_form_c_header">Запись на приём</div>
							<div class="header_bl_form_row">
								<input type="text" placeholder="Ваше имя">
							</div>
							<div class="header_bl_form_row">
								<input type="text" placeholder="Ваш телефон">
							</div>
							<div class="header_bl_form_row">
								<textarea placeholder="Комментарий"></textarea>
							</div>
							<div class="header_bl_form_but_send">
								<input type="submit" value="Отправить">
							</div>
						</div>
					</div>
					<a href="#" class="logo">
						<img src="img/logo.png" alt="">
					</a>
					<div class="header_right">
						<div class="header_tel"><span>+7 (351)</span> 731-11-11</div>
						<nav class="main_menu">
							<ul>
								<li><a href="#">О клинике</a></li>
								<li><a href="#">Услуги</a></li>
								<li><a href="#">Цены</a></li>
								<li><a href="#">Для мам</a></li>
								<li><a href="#">Врачи</a></li>
								<li><a href="#">Контакты</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</header>
			<div id="content">
				<section class="main_bl_promo center clearfix">
					<div class="header_main_promo"><span>Здоровая улыбка</span>вашего малыша!</div>
					<div style="clear: both;"></div>
					<div class="bl_form_promo">
						<div class="bl_form_header">Запись на приём</div>
						<div class="bl_form_row_pole">
							<input type="text" placeholder="Ваше имя" class="form_input">
						</div>
						<div class="bl_form_row_pole">
							<input type="text" placeholder="Ваш телефон" class="form_input">
						</div>
						<div class="bl_form_row_pole">
							<textarea placeholder="Комментарий" class="form_textarea"></textarea>
						</div>
						<div class="bl_form_but_send">
							<input type="submit" value="Отправить">
						</div>
					</div>
				</section>
				<section class="main_services">
					<div class="main_services_cont">
						<div class="main_services_header">Чем мы можем помочь вашему ребёнку</div>
						<p>Мы предлагаем полный спектр услуг для малышей и будущих мам</p>
						<div class="main_services_container">
							<a href="#" class="item_main_serv">
								<span class="item_main_serv_ico_01"></span>
								<p>Лечение кариеса<br>молочных зубов</p>
							</a>
							<a href="#" class="item_main_serv">
								<span class="item_main_serv_ico_02"></span>
								<p>Лечение<br> под наркозом</p>
							</a>
							<a href="#" class="item_main_serv">
								<span class="item_main_serv_ico_03"></span>
								<p>Исправление прикуса <br>в любом возрасте</p>
							</a>
							<a href="#" class="item_main_serv">
								<span class="item_main_serv_ico_04"></span>
								<p>Удаление <br>зубов</p>
							</a>
							<a href="#" class="item_main_serv">
								<span class="item_main_serv_ico_05"></span>
								<p>Лечение с применением<br> "веселящего газа"</p>
							</a>
							<a href="#" class="item_main_serv">
								<span class="item_main_serv_ico_06"></span>
								<p>Глубокое фторирование <br>и серебрение зубов</p>
							</a>
							<a href="#" class="item_main_serv">
								<span class="item_main_serv_ico_07"></span>
								<p>Другие услуги</p>
							</a>
						</div>
					</div>
				</section>
				<section class="main_deals common_carousel">
					<div class="center">
						<div class="main_deals_carousel">
							<div class="main_deals_carouel_item">
								<div class="main_deals_carouel_item_cont clearfix">
									<div class="carousel_left_pic">
										<img src="img/pic_01.jpg" alt="">
									</div>
									<div class="carousel_right_cont">
										<div class="carousel_right_cont_header_a">Лучшие предложения для вас!</div>
										<div class="carousel_right_cont_header_b">Профилактическое лечение Вашего малыша всего за 720 рублей!</div>
										<ul>
											<li>Рентгеновский снимок зубов;</li>
											<li>Заполнение карты здоровья;</li>
											<li>Комплекс профессиональной гигиены на молочный прикуc</li>
											<li>Подбор вариантов лечения;</li>
										</ul>
										<a href="#" class="but_y">Записаться</a>
									</div>
								</div>
							</div>
							<div class="main_deals_carouel_item">
								<div class="main_deals_carouel_item_cont clearfix">
									<div class="carousel_left_pic">
										<img src="img/pic_01.jpg" alt="">
									</div>
									<div class="carousel_right_cont">
										<div class="carousel_right_cont_header_a">Лучшие предложения для вас!</div>
										<div class="carousel_right_cont_header_b">Профилактическое лечение Вашего малыша всего за 720 рублей!</div>
										<ul>
											<li>Рентгеновский снимок зубов;</li>
											<li>Заполнение карты здоровья;</li>
											<li>Комплекс профессиональной гигиены на молочный прикуc</li>
											<li>Подбор вариантов лечения;</li>
										</ul>
										<a href="#" class="but_y">Записаться</a>
									</div>
								</div>
							</div>
							<div class="main_deals_carouel_item">
								<div class="main_deals_carouel_item_cont clearfix">
									<div class="carousel_left_pic">
										<img src="img/pic_01.jpg" alt="">
									</div>
									<div class="carousel_right_cont">
										<div class="carousel_right_cont_header_a">Лучшие предложения для вас!</div>
										<div class="carousel_right_cont_header_b">Профилактическое лечение Вашего малыша всего за 720 рублей!</div>
										<ul>
											<li>Рентгеновский снимок зубов;</li>
											<li>Заполнение карты здоровья;</li>
											<li>Комплекс профессиональной гигиены на молочный прикуc</li>
											<li>Подбор вариантов лечения;</li>
										</ul>
										<a href="#" class="but_y">Записаться</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="main_hot_time">
					<div class="center">
						<div class="main_hot_time_header">
							<span>Горящее время</span>
							<p>Получите уникальную возможность возможность вылечиться с максимальной скидкой день в день</p>
						</div>
						<div class="main_hot_time_container">
							<a href="#" class="main_hot_time_item">
								<div class="hot_time_item_tb">
									<div class="hot_time_item_td hot_time_item_td_name">
										<div class="h_t_name_serv">Обследование на компьютерном томографе с записью на диск</div>
										<div class="h_t_addr">ул. Карла Маркса, 131 (ТДК «Маркштадт»)</div>
									</div>
									<div class="hot_time_item_td hot_time_item_date">
										<div class="h_t_time">8 декабря <p>СР, 10:00 — 12:00</p></div>
									</div>
									<div class="hot_time_item_td hot_time_item_price">
										<div class="h_t_price_price_cont">
											<div class="h_t_price_header">Скидка</div>
											<div class="h_t_price">25%</div>
										</div>
									</div>
									<div class="hot_time_item_td hot_time_item_arrow">
										<div class="h_t_arrow"></div>
									</div>
								</div>
							</a>
							<a href="#" class="main_hot_time_item">
								<div class="hot_time_item_tb">
									<div class="hot_time_item_td hot_time_item_td_name">
										<div class="h_t_name_serv">Обследование на компьютерном томографе с записью на диск</div>
										<div class="h_t_addr">ул. Карла Маркса, 131 (ТДК «Маркштадт»)</div>
									</div>
									<div class="hot_time_item_td hot_time_item_date">
										<div class="h_t_doc">
											<div class="h_t_doc_photo">
												<img src="img/pic_doc.png" alt="">
											</div>
											<div class="h_t_doc_name"><span>Врач</span> Фирсова Елена</div>
										</div>
										<div class="h_t_time">8 декабря <p>СР, 10:00 — 12:00</p></div>
									</div>
									<div class="hot_time_item_td hot_time_item_price">
										<div class="h_t_price_price_cont">
											<div class="h_t_price_header"><span class="old_price">4500 <i class="rub">a</i></span></div>
											<div class="h_t_price">3490 <i class="rub">a</i></div>
										</div>
									</div>
									<div class="hot_time_item_td hot_time_item_arrow">
										<div class="h_t_arrow"></div>
									</div>
								</div>
							</a>
							<a href="#" class="main_hot_time_item">
								<div class="hot_time_item_tb">
									<div class="hot_time_item_td hot_time_item_td_name">
										<div class="h_t_name_serv">Обследование на компьютерном томографе с записью на диск</div>
										<div class="h_t_addr">ул. Карла Маркса, 131 (ТДК «Маркштадт»)</div>
									</div>
									<div class="hot_time_item_td hot_time_item_date">
										<div class="h_t_time">8 декабря <p>СР, 10:00 — 12:00</p></div>
									</div>
									<div class="hot_time_item_td hot_time_item_price">
										<div class="h_t_price_price_cont">
											<div class="h_t_price_header">Скидка</div>
											<div class="h_t_price">25%</div>
										</div>
									</div>
									<div class="hot_time_item_td hot_time_item_arrow">
										<div class="h_t_arrow"></div>
									</div>
								</div>
							</a>
						</div>
					</div>
				</section>
				<section class="main_bls_info">
					<div class="center">
						<div class="main_bls_info_header">Бережное отношение и внимание к каждому ребенку</div>
						<div class="main_bls_info_container">
							<div class="bls_info_item">
								<div class="bls_info_item_ico">
									<img src="img/ico_01.png" alt="">
								</div>
								<p>Каждый визит к стоматологу запоминается вашему ребенку как маленькое приятное событие. Он переносит нахождение в кресле расслабленно и спокойно, без стрессов и дискомфорта. </p>
							</div>
							<div class="bls_info_item">
								<div class="bls_info_item_ico">
									<img src="img/ico_04.png" alt="">
								</div>
								<p>Для самых боязливых мы проводим лечение с использованием «веселящего газа» (или наркоза). Это на 100% гарантирует отсутствие у ребенка неприятных переживаний и ощущений.</p>
							</div>
							<div class="bls_info_item">
								<div class="bls_info_item_ico">
									<img src="img/ico_02.png" alt="">
								</div>
								<p>До начала лечения доктор обязательно сумеет понять ребенка, найдет подход и успокоит. Малыши видят в наших врачах своих друзей, которым доверяют. </p>
							</div>
							<div class="bls_info_item">
								<div class="bls_info_item_ico">
									<img src="img/ico_05.png" alt="">
								</div>
								<p>У нас есть бесплатная игровая комната! Ваших детей ждут: чтение книг с аниматором, уроки рисования и оригами, широкий выбор мультфильмов и компьютерных игр, игрушки и многое другое. </p>
							</div>
							<div class="bls_info_item">
								<div class="bls_info_item_ico">
									<img src="img/ico_03.png" alt="">
								</div>
								<p>На приеме мы показываем малышам мультфильмы. А после процедуры каждый ребенок еще и получает подарок – в благодарность за то, что пришел и досидел до конца. Детям это очень нравится! </p>
							</div>
							<div class="bls_info_item">
								<div class="bls_info_item_ico">
									<img src="img/ico_06.png" alt="">
								</div>
								<p>У нас работает «Академия BabyDent». Детям мы рассказываем про правильную «зубастую» гигиену, а взрослым проводим беседы                  о стоматологическом здоровье ребенка.</p>
							</div>
						</div>
					</div>
				</section>
				<section class="main_bl_personal">
					<div class="center">
						<div class="main_bl_personal_carousel">
							<div class="main_bl_personal_carousel_item">
								<div class="main_bl_personal_item clearfix">
									<div class="bl_personal_item_photo">
										<img src="img/pic_doc_b.png" alt="">
									</div>
									<div class="bl_personal_item_cont">
										<div class="bl_personal_item_header_a">Друзья ваших детей!</div>
										<div class="bl_personal_item_header_b">Фирсова Елена Викторовна</div>
										<p>Главный врач клиники "Стоматологическая практика - BabyDent", терапевт детского и взрослого приемов, хирург. Стоматолог высшей категории. Профессионал в области терапевтического и хирургического лечения под наркозом. Стаж работы: с 2001 года.</p>
										<ul class="personal_sp_services">
											<li><a href="#">Исправление прикуса в любом возрасте</a></li>
											<li><a href="#">Лечение под наркозом</a></li>
											<li><a href="#">Установление скобок и удержателей места</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="main_bl_personal_carousel_item">
								<div class="main_bl_personal_item clearfix">
									<div class="bl_personal_item_photo">
										<img src="img/pic_doc_b.png" alt="">
									</div>
									<div class="bl_personal_item_cont">
										<div class="bl_personal_item_header_a">Друзья ваших детей!</div>
										<div class="bl_personal_item_header_b">Фирсова Елена Викторовна</div>
										<p>Главный врач клиники "Стоматологическая практика - BabyDent", терапевт детского и взрослого приемов, хирург. Стоматолог высшей категории. Профессионал в области терапевтического и хирургического лечения под наркозом. Стаж работы: с 2001 года.</p>
										<ul class="personal_sp_services">
											<li><a href="#">Исправление прикуса в любом возрасте</a></li>
											<li><a href="#">Лечение под наркозом</a></li>
											<li><a href="#">Установление скобок и удержателей места</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="main_bl_personal_carousel_item">
								<div class="main_bl_personal_item clearfix">
									<div class="bl_personal_item_photo">
										<img src="img/pic_doc_b.png" alt="">
									</div>
									<div class="bl_personal_item_cont">
										<div class="bl_personal_item_header_a">Друзья ваших детей!</div>
										<div class="bl_personal_item_header_b">Фирсова Елена Викторовна</div>
										<p>Главный врач клиники "Стоматологическая практика - BabyDent", терапевт детского и взрослого приемов, хирург. Стоматолог высшей категории. Профессионал в области терапевтического и хирургического лечения под наркозом. Стаж работы: с 2001 года.</p>
										<ul class="personal_sp_services">
											<li><a href="#">Исправление прикуса в любом возрасте</a></li>
											<li><a href="#">Лечение под наркозом</a></li>
											<li><a href="#">Установление скобок и удержателей места</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="main_bl_reviews">
							<div class="main_bl_reviews_header">Нам доверяют</div>
							<div class="main_bl_reviews_header_tx">Тысячи пациентов уже доверили нам свое здоровье<br> и остались довольны. Присоединяйтесь!</div>
							<div class="main_bl_reviews_container">
								<div class="main_bl_reviews_carousel">
									<div class="main_bl_reviews_carousel_item">
										<div class="main_review_item">
											<div class="review_item_head">
												<div class="review_item_head_photo">
													<img src="img/pic_02.png" alt="">
												</div>
												<div class="review_item_head_name">семья <br> Ивановых</div>
											</div>
											<div class="review_item_tx">
												<p>Мне везде врачи говорили, что надо зуб мудрости удалять, чтобы не болело. Только здесь нашелся доктор, который предложил сразу три пути лечения. Оказалось, что просто удаление стоит дороже, а первый вариант лечения вообще ничего не стоит – надо просто попробовать полоскать крепким солевым раствором, оказывается, просто никому не хочется разбираться, что можно над зубом и десну слегка надрезать.</p>
											</div>
											<a href="#" class="read_more">Читать далее</a>
										</div>
									</div>
									<div class="main_bl_reviews_carousel_item">
										<div class="main_review_item">
											<div class="review_item_head">
												<div class="review_item_head_photo">
													<img src="img/pic_02.png" alt="">
												</div>
												<div class="review_item_head_name">семья <br> Ивановых</div>
											</div>
											<div class="review_item_tx">
												<p>Мне везде врачи говорили, что надо зуб мудрости удалять, чтобы не болело. Только здесь нашелся доктор, который предложил сразу три пути лечения. Оказалось, что просто удаление стоит дороже, а первый вариант лечения вообще ничего не стоит – надо просто попробовать полоскать крепким солевым раствором, оказывается, просто никому не хочется разбираться, что можно над зубом и десну слегка надрезать.</p>
											</div>
											<a href="#" class="read_more">Читать далее</a>
										</div>
									</div>
									<div class="main_bl_reviews_carousel_item">
										<div class="main_review_item">
											<div class="review_item_head">
												<div class="review_item_head_photo">
													<img src="img/pic_02.png" alt="">
												</div>
												<div class="review_item_head_name">семья <br> Ивановых</div>
											</div>
											<div class="review_item_tx">
												<p>Мне везде врачи говорили, что надо зуб мудрости удалять, чтобы не болело. Только здесь нашелся доктор, который предложил сразу три пути лечения. Оказалось, что просто удаление стоит дороже, а первый вариант лечения вообще ничего не стоит – надо просто попробовать полоскать крепким солевым раствором, оказывается, просто никому не хочется разбираться, что можно над зубом и десну слегка надрезать.</p>
											</div>
											<a href="#" class="read_more">Читать далее</a>
										</div>
									</div>
									<div class="main_bl_reviews_carousel_item">
										<div class="main_review_item">
											<div class="review_item_head">
												<div class="review_item_head_photo">
													<img src="img/pic_02.png" alt="">
												</div>
												<div class="review_item_head_name">семья <br> Ивановых</div>
											</div>
											<div class="review_item_tx">
												<p>Мне везде врачи говорили, что надо зуб мудрости удалять, чтобы не болело. Только здесь нашелся доктор, который предложил сразу три пути лечения. Оказалось, что просто удаление стоит дороже, а первый вариант лечения вообще ничего не стоит – надо просто попробовать полоскать крепким солевым раствором, оказывается, просто никому не хочется разбираться, что можно над зубом и десну слегка надрезать.</p>
											</div>
											<a href="#" class="read_more">Читать далее</a>
										</div>
									</div>
								</div>
							</div>
							<div class="bottom_btn_all_reviews">
								<a href="#" class="but_y">Читать все отзывы</a>
							</div>
						</div>
					</div>
				</section>
				<section class="main_bl_faq">
					<div class="center clearfix">
						<div class="main_bl_faq_header">Развеем все ваши сомнения</div>
						<div class="main_bl_faq_header_tx">У вас есть вопросы, предложения, пожелания? Специалисты<br>«BabyDent» развеят ваши сомнения!</div>
						<div class="main_bl_faq_left">
							<div class="container_faq_header">Популярные вопросы</div>
							<ul class="sp_answers">
								<li><a href="#">Пломба прокрасилась по периметру. Нужно ли ее менять?</a></li>
								<li><a href="#">Пломба прокрасилась по периметру. Нужно ли ее менять? Она покрасилась по периметру! Нужно ли ее менять? </a></li>
								<li><a href="#">Пломба прокрасилась по периметру. Нужно ли ее менять? Она покрасилась по периметру! Нужно ли ее менять? </a></li>
							</ul>
							<div class="link_more_answer">
								<a href="#">Посмотреть все ответы</a>
							</div>
						</div>
						<div class="main_bl_faq_right">
							<div class="container_faq_header">Последние вопросы</div>
							<ul class="sp_answers">
								<li><a href="#">Пломба прокрасилась по периметру. Нужно ли ее менять?</a></li>
								<li><a href="#">Пломба прокрасилась по периметру. Нужно ли ее менять? Она покрасилась по периметру! Нужно ли ее менять? </a></li>
								<li><a href="#">Пломба прокрасилась по периметру. Нужно ли ее менять? Она покрасилась по периметру! Нужно ли ее менять? </a></li>
							</ul>
							<div class="link_more_answer">
								<a href="#">Посмотреть все ответы</a>
							</div>
						</div>
						<div class="bl_link_more_question">
							<a href="#" class="but_y">Задать свой вопрос</a>
						</div>
					</div>
				</section>
				<section class="main_bl_gallery">
					<div class="center clearfix">
						<div class="main_bl_gallery_header">Детская стоматология, которую не просто любят</div>
						<div class="main_bl_gallery_header_tx">«BabyDent» – профессиональная стоматологическая клиника для детей до 14 лет и будущих мам.<br>Входит в группу клиник «Стоматологическая практика». Они известны многим клиентам экспертным<br> уровнем услуг и внимательным отношением к самому процессу лечения.</div>
						<div class="main_bl_gallery_video">
							<div class="main_bl_gallery_bls_header">Дети говорят</div>
							<div class="main_bl_gallery_video_cont">
								<a href="#" class="gallery_item_video">
									<span>
										<img src="img/pic_03.png" alt="">
									</span>
									<p>Кариес</p>
								</a>
								<a href="#" class="gallery_item_video">
									<span>
										<img src="img/pic_04.png" alt="">
									</span>
									<p>Посчитаем</p>
								</a>
								<a href="#" class="gallery_item_video">
									<span>
										<img src="img/pic_05.png" alt="">
									</span>
									<p>Клиника будущего</p>
								</a>
								<a href="#" class="gallery_item_video">
									<span>
										<img src="img/pic_06.png" alt="">
									</span>
									<p>Зубная фея</p>
								</a>
							</div>
						</div>
						<div class="main_bl_gallery_photo">
							<div class="main_bl_gallery_bls_header">Фотографии клиники</div>
							<div class="main_bl_gallery_photo_b">
								<img src="" alt="">
							</div>
							<ul class="main_bl_gallery_photo_sm">
								<li>
									<img src="img/pic_08.png" alt="" data-big="img/pic_07.png">
								</li>
								<li>
									<img src="img/pic_09.png" alt="" data-big="img/pic_09.png">
								</li>
								<li>
									<img src="img/pic_08.png" alt="" data-big="img/pic_07.png">
								</li>
								<li>
									<img src="img/pic_08.png" alt="" data-big="img/pic_07.png">
								</li>
								<li>
									<img src="img/pic_08.png" alt="" data-big="img/pic_07.png">
								</li>
							</ul>
						</div>
					</div>
				</section>
				<section class="main_bl_address_cl">
					<div class="center">
						<div class="main_bl_address_cl_header">Удобное расположение клиник</div>
						<div class="main_bl_address_cl_cont">
							<div class="bl_address_cl_item">
								<div class="bl_address_cl_item_head"><span>«BabyDent», Карла Маркса, 131</span> (на Аллом поле)</div>
								<div class="bl_address_cl_item_pic">
									<img src="img/pic_11.png" alt="">
								</div>
								<a href="#">Посмотреть на карте</a>
								<ul class="bl_address_cl_item_char">
									<li>+7 (351) 200-35-37</li>
									<li>e-mail: info@32zuba.net</li>
									<li>Время работы с 8:00 до 21:00</li>
								</ul>
								<a href="#" class="but_y">Записаться на прием</a>
							</div>
							<div class="bl_address_cl_item">
								<div class="bl_address_cl_item_head"><span>ул. 40 лет Победы, 36</span> (на Северо-Западе)</div>
								<div class="bl_address_cl_item_pic">
									<img src="img/pic_10.png" alt="">
								</div>
								<a href="#">Посмотреть на карте</a>
								<ul class="bl_address_cl_item_char">
									<li>+7 (351) 200-35-37</li>
									<li>e-mail: info@32zuba.net</li>
									<li>Время работы с 8:00 до 21:00</li>
								</ul>
								<a href="#" class="but_y">Записаться на прием</a>
							</div>
							<div class="bl_address_cl_item">
								<div class="bl_address_cl_item_head"><span>ул. 50 лет ВЛКСМ, 14а</span> (на ЧМЗ)</div>
								<div class="bl_address_cl_item_pic">
									<img src="img/pic_12.png" alt="">
								</div>
								<a href="#">Посмотреть на карте</a>
								<ul class="bl_address_cl_item_char">
									<li>+7 (351) 200-35-37</li>
									<li>e-mail: info@32zuba.net</li>
									<li>Время работы с 8:00 до 21:00</li>
								</ul>
								<a href="#" class="but_y">Записаться на прием</a>
							</div>
						</div>
					</div>
				</section>
			</div>
			<footer>
				<div class="center">
					<div class="footer_feedback">
						<div class="footer_feedback_header">Остались вопросы?</div>
						<a href="#" class="footer_feedback_but">Напишите нам</a>
					</div>
					<nav class="footer_menu">
						<ul class="footer_menu_main">
							<li><a href="#">О клинике</a></li>
							<li><a href="#">Услуги</a></li>
							<li><a href="#">Цены</a></li>
							<li><a href="#">Для мам</a></li>
							<li><a href="#">Врачи</a></li>
							<li><a href="#">Контакты</a></li>
						</ul>
						<ul class="footer_menu_second">
							<li><a href="#">Акции</a></li>
							<li><a href="#">Отзывы</a></li>
							<li><a href="#">Вопрос-ответ</a></li>
						</ul>
					</nav>
					<div class="footer_container clearfix">
						<div class="footer_left_col">
							<img src="img/footer_logo.png" alt="">
						</div>
						<div class="footer_right_col">
							<span>+7 (351)</span> 731-11-11
						</div>
						<div class="footer_center_col">
							<a href="#">Взрослая<br>клиника:</a>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</body>
</html>